.lesson-card {
    border: 1px solid #000;
    transition: transform 0.3s;
    justify-content: center;
  }

.lesson-card:hover {
    transform: scale(1.1);
  }

.text-area {
    padding: 10px; /* Adjust the padding as needed */
    margin: 5px 0; /* Adjust the margin as needed */
    font-size: 16px; /* Adjust the size as needed */
    font-family: 'Arial', sans-serif;
  }
  



